/**
body.action-view .mw-body {
    text-align: justify;
}


body.action-view .mw-body p,
body.action-view .mw-body li,
body.action-view .mw-body dd {
    text-align: justify;
}

body.action-view .mw-body h1,
body.action-view .mw-body h2,
body.action-view .mw-body h3,
body.action-view .mw-body h4,
body.action-view .mw-body h5,
body.action-view .mw-body h6 {
    text-align: left;
}
**/
/**
body.action-view .mw-body #toc li {
    text-align: left;
}


@media print {

	body.action-view .mw-body p,
	body.action-view .mw-body li,
	body.action-view .mw-body dd {
	    text-align: justify;
	}

}
**/